<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <div class="container">
        <h1>首页</h1>
        <div>
            <div >
                <img id="center" src="/static/img/1.jpg" alt="">
            </div>
            <h2>共有书籍({{books.count}})</h2>
            <p>
                <ul>
                    {% for book in books %}
                        <li>
                            {#<a href="/detail/{{book.id}}/">{{book.id}}--{{book.title}}--{{book.price}}</a>#}
                            <a href="{% url 'booktest:detail' book.id %}">{{book.id}}--{{book.title}}--{{book.price}}</a>
                            <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
                        </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </div>
</body>
</html>